header {
  background-color: #333;
  color: white;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

/* Remove y padding on mobile devices */
@media (max-width: 768px) {
  header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

header nav {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  /* Ensures nav links are centered */
}

header nav a {
  color: white;
  margin: 4px;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s ease;
}

header nav a:hover {
  background-color: #555;
  border-color: #fff;
  color: #fff;
  transform: scale(1.05);
}

header nav a:active {
  background-color: #444;
  transform: scale(1);
}

header div {
  display: flex;
  justify-content: flex-end;
}

header img {
  width: 40px;
}

/* Styling for "TRY IT NOW!" button */
header div a {
  color: white;
  background-color: #ff9800;
  /* Bright orange color */
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 30px;
  /* Rounded corners */
  font-weight: bold;
  text-transform: uppercase;
  /* All caps for emphasis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Subtle shadow for depth */
  transition: all 0.3s ease;
}

header div a:hover {
  background-color: #e68900;
  /* Darker orange on hover */
  transform: translateY(-2px);
  /* Slight lift effect */
}

header div a:active {
  background-color: #e68900;
  transform: translateY(0);
  /* Reset the lift effect on click */
}