<header>
  <img src="./components/image.png" width="40" alt="logo">
  <nav id="desktop-nav">
    <a href="#">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <a href="#survival-tips">Survival Tips</a>
    <a href="#hall-of-fame">Hall of Fame</a>
  </nav>
  <div class="">
    <a href="https://miguel-0.itch.io/the-university-bible" target="_blank" class="try-it-now-btn">TRY IT NOW!</a>
  </div>
  <div class="burger-menu">
    <div class="burger-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="mobile-nav" id="mobile-nav">
    <a href="#">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <a href="#survival-tips">Survival Tips</a>
    <a href="#hall-of-fame">Hall of Fame</a>
    <div class="mobile-cta">
      <a href="https://miguel-0.itch.io/the-university-bible" target="_blank" class="try-it-now-btn">TRY IT NOW!</a>
    </div>
  </div>
</header>